.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-in {
  opacity: 0;
  transition: 0.6s ease;
}

.fade-in.show {
  opacity: 1;
}

.slide-left {
  opacity: 0;
  transform: translateX(50px);
  transition: 0.6s ease;
}

.slide-left.show {
  opacity: 1;
  transform: translateX(0);
}
