.hero {
  height: 100vh;
  padding: 0 5%;
  background: linear-gradient(135deg, var(--primary), transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h1 span {
  color: var(--primary);
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 25px;
  background: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.hero-btn:hover {
  opacity: 0.8;
}
